@CHARSET "UTF-8";
/* 3ページ共通のスタイル */
header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: #666666;
    overflow: hidden;
    z-index: 2;
}
.chat_title {
    display: inline-block;
    width: 40%;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #666666;
    margin: 10px 0px 18px;
}
body {
    width:100%;
    min-width: 320px;
    background-color: #819fc8;
    padding: 0px;
    margin:0px;
    -webkit-text-size-adjust: 100%;
}
input {
    font-size: 16px;
    padding: 5px;
}
.name_posting,
.end_button,
.reload_button,
.message_posting {
    -webkit-appearance: none;
    color: #fff;
    background-color: #1e90ff;
    border-style: none;
}
/* index.phpのスタイル */
.sign_up_space {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 35%;
    text-align: center;
}
.heading_name {
    display: inline-block;
    font-size: 18px;
    color: #fff;
}
.name_form {
    display: inline-block;
    width: 70%;
}
.name_write {
    border-style: none;
}
.error_message_start_page {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #ffcccc;
}
/* chat.phpのスタイル */
.end, .reload {
    display: inline-block;
    width: 20%;
    margin: 8px;

}
.end {
    float: left;
}
.reload {
    float: right;
}
ul {
    padding: 50px 0px 85px;
    overflow: hidden;
    list-style-type: none;
    z-index: 1;
}
.balloon_space {
    width:96%;
    margin: 5px 10px;
    clear: both;
}
.balloon_space.others {
    float: left;
}
.balloon_space.mine {
    float: right;
}
.box {
    width: 100%;
    clear: both;
}
.box.others {
    float: left;
}
.box.mine {
    float: right;
}
.message {
    position: relative;
    display: inline-block;
    max-width: 80%;
    font-family: Helvetica;
    font-size: 16px;
    color: #000;
    padding: 7px;
    border-radius: 10px;
    word-break : break-all;
    overflow-wrap:break-word;
}
.message.others {
    float: left;
    background: #fff;
}
.message.mine {
    float: right;
    background: #85e249;
}
.message:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0px;
    margin-left: 0;
    z-index: -1;
}
.message.others:before {
    left: -10px;
    background: #fff;
    border-radius: 0px 30px;
}
.message.mine:before {
    right: -10px;
    background: #85e249;
    border-radius: 30px 0;
}
.message:after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    top: -10px;
    background: none repeat scroll 0% 0% #819fc8;
    margin-left: 0px;
    z-index: -1;
}
.message.others:after {
    left: -12px;
    border-radius: 0px 30px;
    transform: rotate(10deg);
}
.message.mine:after {
    right: -12px;
    border-radius: 30px 0px;
    transform: rotate(20deg);
}
.datetime.others {
    float: left;
    text-align: left;
    font-size: 12px;
    color: #fff;
}
.datetime.mine {
    float: right;
    text-align: right;
    font-size: 12px;
    color: #fff;

}
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 2;
}
.footer_expand {
    height: 90%;
}
.user_name {
    text-align: left;
    font-size: 12px;
    color: #fff;
    margin: 0px;
    clear: both;
}
.message_write {
    width: 78%;
    border-style: none;
}
.message_posting {
    width: 17%;
}
.error_message_chat_page {
    width: 100%;
    text-align: center;
    color: #ffcccc;
}
/* logout.phpのスタイル */
.logout_text {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 40%;
    text-align: center;
    color: #fff;
}
.restart {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 60%;
    text-align: center;
}